body{
	margin: auto 0;
	padding: 0;
}

.zone{
	color: #fff;
	background-color: blue;
}

/* NAV */
.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}
.main-nav{
	display: flex;
	list-style: none;
	font-size: 0.7em;
	margin: 0;
}
.main-nav li{
	padding: 20px;
}
.main-nav li.push{
	margin-left: auto;
}
.main-nav li a{
	color: #fff;
	text-decoration: none;
}


/* COVER */
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
}


/* GRID */
.grid-wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}
.box{
	padding: 40px;
	margin: 5px;
	background-color: #000055;
}
.box > img{
	width: 100%;
}

footer.zone.yellow{
	text-align: center;
	padding: 25px 0;
	background-color: #000033;
	display: block;
}


@media only screen and (max-width: 600px){
	.main-nav{
		font-size: 0.5em;
	}
}